<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include("partials/style.ejs") %>
	<title><%= (typeof page != 'undefined' ? title : '') %></title>
	<%- include("partials/font.ejs") %>
</head>

<body>
		<%- include("partials/header.ejs") %>
		
		<%- include("partials/nav.ejs") %>
		
		<main>
			<article>
				<div class="crusherWirelessImgContainer">
					<p class="crusherWirelessTxt">
						You bring the music<br>
						We bring the sound
					</p>

					<img class="crusherWirelessImg" src="/images/crusherWireless.jpg" alt="Crusher Wireless Headphones by Skullcandy">
				</div>
			</article>
		</main>
		
		<%- include("partials/footer.ejs") %>

	<%- include("partials/script.ejs") %>
</body>

</html>
